body{
  font-family: 'Poppins', sans-serif;

}

nav{
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  display: flex;
  justify-content: space-between;
}

.airbnb-logo{
  width: 110px;
}

.hero-grid{
  display: grid;
  grid-gap: 25px;
}

.hero{
  width: 100%;
  display: grid;
 margin: auto;
 justify-content: center;
}

.group-img{
  margin-top: 2rem;
 width: 310px;
}

.text{
  display: grid;
  grid-gap: 10px;
  text-align: left;
  margin: 0 1rem;
}

h1{
  margin: 0;
  font-weight: 600;
  font-size:2rem ;
  color: #000000;
}

p{
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  color: #222222;
}


.image-section{
display: flex;
margin: 0rem 0rem 0rem 2.5rem;
}

.card-grid, .card-content{
  display: grid;
  grid-gap: 5px;
}

.card-img{
  width: 230px;
}


.star-img{
  width: 15px;
}

.card-content-flex{
  display: flex;
  align-items: center;
  column-gap: 2px;
}


.card-span{
  font-weight: 600;
  color: #000000;
}

span{
  color: #918E9B;
}

@media (min-width:500px) {
  .group-img{
   width: 400px;
  }
}